= form_for @attribute do |f|
  - if @attribute.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attribute.errors.count, "error")} prohibited this attribute from being saved:"
      %ul
        - @attribute.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :attribute_name
    = f.text_field :attribute_name
  .field
    = f.label :value
    = f.text_field :value
  .actions
    = f.submit 'Save'
