%h1 Listing keywords

%table
  %thead
    %tr
      %th Word
      %th
      %th
      %th

  %tbody
    - @keywords.each do |keyword|
      %tr
        %td= keyword.word
        %td= link_to 'Show', keyword
        %td= link_to 'Edit', edit_keyword_path(keyword)
        %td= link_to 'Destroy', keyword, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Keyword', new_keyword_path
